@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* hide scrollbar */
html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.grainy-background {
    background-image: url("../assets/grainy-background.png");
    background-color: #3139FB;
    background-attachment: fixed;
}

.grainy-header {
    background-image: url("../assets/grainy-background.png");
    background-color: #13165c;
    background-attachment: fixed;
    color: #f0f0f0;
}

.grainy-paper {
    background-image: url("../assets/grainy-background.png");
    background-color: rgb(252, 130, 121);
    border-radius: 16px;
    box-shadow: 0px 12px 16px 8px rgba(0, 0, 0, 0.5);
}
