@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #404040;
}

/* hide scrollbar */
html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.grainy-background {
    background-image: url("./grainy-background.png");
    background-color: #3139FB;
    background-attachment: fixed;
}

.grainy-paper {
    background-image: url("./grainy-background.png");
    background-color: rgb(252, 130, 121);
    border-radius: 16px;
    box-shadow: 0px 12px 16px 8px rgba(0, 0, 0, 0.5);
}
